<?xml version="1.0" ?>
<model>
    <name>test_motor</name>
    <version>0.1</version>
    <sdf version="1.7">model.sdf</sdf>
    <author>
        <name>Andy Blight</name>
        <email>a.j.blight@leeds.ac.uk</email>
    </author>
    <description>A motor made from simple shapes to test the Gazebo ROS Simple Motors plugin.</description>
</model>
